@import url("./Style/variables.css");
@import url("./Style/Base.css");
@import url("./Style/Layout.css");
@import url("./Style/components.css");


@import url("./pages/home.css");
@import url("./pages/about.css");
@import url("./pages/create.css");
@import url("./pages/profile.css");
@import url("./pages/marketplace.css");
@import url("./pages/modal.css");


@import url("./Style/components/buttons.css");
@import url("./Style/components/fab.css");
@import url("./Style/components/inputs.css");

